<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>AuthenticattionFilter</filter-name>
        <filter-class>com.app.filters.AuthenticattionFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AuthorizationFilter</filter-name>
        <filter-class>com.app.filters.AuthorizationFilter</filter-class>
    </filter>
    <!--    <filter>
        <filter-name>DispatcherFilter</filter-name>
        <filter-class>com.app.filters.DispatcherFilter</filter-class>
    </filter>-->
    <filter-mapping>
        <filter-name>AuthenticattionFilter</filter-name>
        <url-pattern>/</url-pattern>
        <url-pattern>/login</url-pattern>
        <url-pattern>/login.jsp</url-pattern>
        <url-pattern>/register</url-pattern>
        <url-pattern>/register.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthorizationFilter</filter-name>
        <url-pattern>/admin</url-pattern>
        <url-pattern>/admin.jsp</url-pattern>
        <url-pattern>/addProduct</url-pattern>
        <url-pattern>/add_product.jsp</url-pattern>
        <url-pattern>/manageProduct</url-pattern>
        <url-pattern>/manage_product.jsp</url-pattern>
        <url-pattern>/editProduct</url-pattern>
        <url-pattern>/edit_product.jsp</url-pattern>
        <url-pattern>/AddProductServlet</url-pattern>
        <url-pattern>/DeleteProductServlet</url-pattern>
        <url-pattern>/UpdateProductServlet</url-pattern>
        <url-pattern>/profile</url-pattern>
        <url-pattern>/user_profile.jsp</url-pattern>
        <url-pattern>/CheckoutServlet</url-pattern>
        <url-pattern>/UpdateCartServlet</url-pattern>
        <url-pattern>/DeleteCartItemServlet</url-pattern>
        <url-pattern>/cart</url-pattern>
        <url-pattern>/cart.jsp</url-pattern>
        <url-pattern>/checkout</url-pattern>
        <url-pattern>/checkout.jsp</url-pattern>
        <url-pattern>/manage_order.jsp</url-pattern>
        <url-pattern>/order</url-pattern>
        <url-pattern>/search</url-pattern>
        
    </filter-mapping>
    <!--    <filter-mapping>
        <filter-name>DispatcherFilter</filter-name>
        <url-pattern>/CheckoutServlet</url-pattern>
        <url-pattern>/UpdateCartServlet</url-pattern>
        <url-pattern>/DeleteCartItemServlet</url-pattern>
        <url-pattern>/cart</url-pattern>
        <url-pattern>/cart.jsp</url-pattern>
        <url-pattern>/checkout</url-pattern>
        <url-pattern>/checkout.jsp</url-pattern>
    </filter-mapping>-->
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.app.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.app.servlets.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.app.servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserProfileServlet</servlet-name>
        <servlet-class>com.app.servlets.UserProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductServlet</servlet-name>
        <servlet-class>com.app.servlets.AddProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductServlet</servlet-name>
        <servlet-class>com.app.servlets.DeleteProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProductServlet</servlet-name>
        <servlet-class>com.app.servlets.UpdateProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>com.app.servlets.AddToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCartItemServlet</servlet-name>
        <servlet-class>com.app.servlets.DeleteCartItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCartServlet</servlet-name>
        <servlet-class>com.app.servlets.UpdateCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutServlet</servlet-name>
        <servlet-class>com.app.servlets.CheckoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDetailsServlet</servlet-name>
        <servlet-class>com.app.servlets.OrderDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageProductServlet</servlet-name>
        <servlet-class>com.app.servlets.ManageProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageOrderServlet</servlet-name>
        <servlet-class>com.app.servlets.ManageOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchProductServlet</servlet-name>
        <servlet-class>com.app.servlets.SearchProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserProfileServlet</servlet-name>
        <url-pattern>/UserProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductServlet</servlet-name>
        <url-pattern>/AddProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductServlet</servlet-name>
        <url-pattern>/DeleteProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProductServlet</servlet-name>
        <url-pattern>/UpdateProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/AddToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCartItemServlet</servlet-name>
        <url-pattern>/DeleteCartItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCartServlet</servlet-name>
        <url-pattern>/UpdateCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutServlet</servlet-name>
        <url-pattern>/CheckoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDetailsServlet</servlet-name>
        <url-pattern>/OrderDetailsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageProductServlet</servlet-name>
        <url-pattern>/ManageProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageOrderServlet</servlet-name>
        <url-pattern>/ManageOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchProductServlet</servlet-name>
        <url-pattern>/SearchProductServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <resource-ref>
        <res-ref-name>BookShoppingDB</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
