<table style="border: 1px solid gray; width: 80%; margin: 60px auto;">
    <thead style="border: 1px solid gray;">
        <tr style="text-align: center; height: 50px; background-color: rgb(241, 240, 240);">
            <td style="border:1px solid gray">No.</td>
            <td style="border:1px solid gray">Product</td>
            <td style="border:1px solid gray">Price</td>
            <td style="border:1px solid gray">Quantity</td>
            <td style="border:1px solid gray">Amount</td>
        </tr>
    </thead>
    <tbody>
        {1}
        
        <tr style="height: 60px; background-color: rgb(166, 207, 180);">
            <td colspan="5" style="font-weight: bold; text-align: center;">
                Total: ${2}
            </td>
        </tr>
    </tbody>
</table>